@media (max-width:1358px){
    #block_container{
        display: unset;
        justify-content: center;
    }
    #block_container2 {
        display: none;
    }
    .box2 {
        display: none;
    }
    .box3{
        display: none;
    }
    .box4 {
        display: none;
    }
    .box5{
        display: none;
    }
    .text2{
        display: none;
    }
    .text3{
        display: none;
    }
    .dot2 {
        display: none;
    }
}

@media (min-width:1359px) {
    .box6{
        display: none;
    }
    .box6-5{
        display: none;
    }
}

/* Boxes */
    #block_container {
        display: flex;
        justify-content: center;
    }
    #block_container2 {
        display: flex;
        justify-content: center;
    }
    .box1{
        border: black;
        border-style: solid;
        width: 902px; 
        height: 510px;
        margin: 20px;
        max-width: 1000px;
        position: relative;
    }
    .box2{
        border: black;
        border-style: solid;
        width: 384;
        height: 510px;
        margin: 20px;
        margin-left: 0px;
        max-width: 1000px;
        position: relative;
    }
    .box3 {
        border: black;
        border-style: solid;
        width: 646px;
        height: 366px;
        margin: 20px;
        margin-top: 0px;
        max-width: 1000px;
        position: relative;
    }
    .box4 {
        border: black;
        border-style: solid;
        width: 646px;
        height: 366px;
        margin: 20px;
        margin-left: 0px;
        margin-top: 0px;
        max-width: 1000px;
        position: relative;
    }
    .box5{
        border-style: solid;
        width: 774px;
        height: 438px;
        margin: 20px;
        max-width: 1000px;
        position: relative;
    }
    .box5-5{
        border-style: solid;
        width: 1030px;
        height: 582px;
        margin: 20px;
        max-width: 1000px;
        position: relative;
    }
    .box6{
        border: black;
        border-style: solid;
        width: 164.4px;
        height: 366px;
        margin: 20px;
        margin-left: 0px;
    }
    .box6-5{
        border: black;
        border-style: solid;
        width: 164.4px;
        height: 366px;
        margin: 20px 0px 20px 0px ;
    }
    
    
    /* Circle Code */
    .dot1 {
        height: 100px;
        width: 100px;
        background-color: #ce8dbe;
        border-radius: 50%;
        display: inline-block;
        margin: 100px;
        margin-top: 200px;
        max-width: 1000px;
        position: relative;
    }
    .dot2 {
        height: 100px;
        width: 100px;
        background-color: #5f4f7a;
        border-radius: 50%;
        display: inline-block;
        margin: 100px;
        margin-top: 200px;
        max-width: 1000px;
        position: relative;
    }
    .title{    
        margin-left: 60px;
        text-align: left;
        width: 902px;
        font-weight: 600;
        font-size: 65px;
    }
    .author{
        margin-left: 60px;
        margin-top: 0px;
        text-align: left;
        width: 902px;
        font-weight: 300;
        font-size: 23px;
        font-style: italic;
    }
    .paragraph {
        margin-left: 40px;
        text-align: left;
        width: 902px;
        font-weight: 400;
        font-size: 30px;
    }
    .ad{
        margin-right: 40px;
        text-align: right;
        border: black;
        border-style: solid;
        width: 300px;
        height: 650px;
    }




            /* Create three equal columns that floats next to each other */
            .column {
                float: left;
                  display: block;
                min-width: 250px;
                width: 25%;
                min-height: 300px;
                height: 10%;
                padding: 10px;
                margin: 2%;
                margin-left: 5.5%;
            }
          
            /* Clear floats after the columns */
            .row:after {
                content: "";
                display: table;
                clear: both;
            }
    
            /* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
            @media screen and (max-width: 600px) {
                .column {
                    width: 100%;
                }
            }




body {
    text-align: center;
    font-family: Helvetica;
    font-size:15px;
    margin: 0px;
}






/* Slides Time */		
* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
}

/* Hide the images by default */
.mySlides {
    display: none;
}

/* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: #5f4f7a;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  /* Position the "prev button" to the left  */
  .prev {
    left: 0;
    border-radius: 3px 0 0 3px;
  }

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
    background-color: #ce8dbe;
}

/* Caption text */
.text {
    color: white;
    text-shadow: -1px -1px 0 #000000, 1px -1px 0 #000000, -1px 1px 0 #000000, 1px 1px 0 #000000;  
    font-size: 20px;
    font-weight: 600;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .dot:hover {
    background-color: #717171;
}

/* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}

@keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}










/* Style the list inside the menu */
nav ul {
    list-style-type: none;
    padding: 0;
    z-index: 1;

}

/* The navbar container */
#navbar {
    overflow: hidden;
    background-color: #5f4f7a;
    z-index: 1;
}

/* Navbar links */
#navbar a {
    float: left;
    display: block;
    color: #5f4f7a;
    background-color: #ce8dbe;
    font-size: 25px;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Links - change color on hover */
#navbar a:hover {
    background-color: #8aa6ba;
    color: #2a2c2e;
}

/* Right-aligned section inside the top navigation */
#navbar-right {
    float: right;
}

/* Page content */
.content {
    padding-top: 20px;
}

/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

/* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
    padding-top: 60px;
}




/* Button Gradient Creation */
    /** CREDIT TO html-online.com FOR HAVING BASE CODE ON HOW TO DO THIS, YALL ARE GREAT **/
.gradient-button {
    margin: 10px;
    font-family: Helvetica;
    padding: 15px;
    text-align: center;
    transition: 0.5s;
    background-size: 200% auto;
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    border-radius: 10px;
    width: 200px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    cursor: pointer;
    display: inline-block;
    border-radius: 25px;
}
.gradient-button:hover{
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    margin: 8px 10px 12px;
}
.gradient-button-1 {background-image: linear-gradient(to right, #ce8dbe 0%, #8d74b5 51%, #ce8dbe 100%)}
.gradient-button-1:hover { background-position: right center; }